.cc-profile{
    width: 100px;
    height: 100px;
}
.cc-btn{
    border: none;
    background: none;
    font-size: 1.5rem;
    width: 100%;
}
.cc-btn__p{
    margin-top: 1.5rem;
    text-align: left;
}
.cc-mModal__profile{
    display: block;
    width: 150px;
    border: none;
    border-radius: 50%;
    margin: 1rem auto;
}